body {
    background-color: #050a13;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}