body {
    background-color: #050a13;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-weight: 500;
}

.winner {
  background-color: rgb(210, 146, 28);
  filter: drop-shadow(0 0 30px rgb(210, 183, 28));
}

.looser {
  background-color: rgb(248, 72, 41);;
  filter: drop-shadow(0 0 30px rgb(248, 72, 41));
}