body {
  background-color: #050a13;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  width: 100vw;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

@import url(../css/reset.css);

h2 {
  font-weight: 500;
  margin: 0;
}

.subtitle {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #CACACA;
}